$animation: background-color 0.5s ease-in-out;

.dark-mode {
	background-color: #1a1919;
	color: #999;
	height: 100%;
	transition: $animation;
	overflow-y: auto;
}

.light-mode {
	@extend .dark-mode;
	background-color: #fff;
	color: #333;
}

.modeButton {
	float: right;
	margin-top: 1px;
	margin-right: 10px;
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	flex-wrap: wrap;
}

.modeButton:active {
	transform: translateY(1px);
}
